<ion-view  view-title="AddCandidate">
    <ion-content scroll="true" class="container container-custom">
        
   <h1 id="addCandidate_title">
       Add Candidate
   </h1>

   <div class="center-content">
       <img style='width:200px; height:100px;'  src='/img/Candidate.jpg'>
   </div>
        <form name="addForm">
            <div class="list">
              <label class="item item-input">
                <span class="input-label">National Number</span>
                <input type="text" name="candidateId" ng-model="candidateData.candidateId" required>
                <span class="form-error" ng-show="addForm.candidateId.$touched && addForm.candidateId.$invalid">this field is required</span>
              </label>

              <label class="item item-input">
                <span class="input-label">Name</span>
                <input type='text'  name="name" ng-model="candidateData.name" required>
                <span class="form-error" ng-show="addForm.name.$touched && addForm.name.$invalid">this field is required</span>

              </label>
              <label class="item item-input">
                <span class="input-label">Date Of Birth</span>
                <input type='text' name="dateOfBirth" ng-model="candidateData.dateOfBirth" required>
                <span class="form-error" ng-show="addForm.dateOfBirth.$touched && addForm.dateOfBirth.$invalid">this field is required</span>

              </label>

              <label class="item item-input">
                <span class="input-label">Password</span>
                <input name="password" type="password" ng-model="candidateData.password" required>
                <span class="form-error" ng-show="addForm.password.$touched && addForm.password.$invalid">this field is required</span>
                

              </label>
              
              <label class="item item-input">
                <span class="input-label">Password Confirmation</span>
                <input name="passwordConfirmation" type="password" ng-model="candidateData.passwordConfirmation" required>
                <span class="form-error" ng-show="addForm.passwordConfirmation.$touched && addForm.passwordConfirmation.$invalid">this field is required</span>
                

              </label>
              <label class="item item-input">
                <span class="input-label">City</span>
                <input name="city" type="text" ng-model="candidateData.city" required>
                <span class="form-error" ng-show="addForm.city.$touched && addForm.city.$invalid">this field is required</span>
                

              </label>
              <label class="item item-input">
                <span class="input-label">Year</span>
                <input name="year" type="password" ng-model="candidateData.year" required>
                <span class="form-error" ng-show="addForm.year.$touched && addForm.year.$invalid">this field is required</span>
                

              </label>

              <label class="item item-input">
                <span class="input-label">Phone Number</span>
                <input name="phoneNumber" type="password"  ng-model="candidateData.phoneNumber" required>
                <span class="form-error" ng-show="addForm.phoneNumber.$touched && addForm.phoneNumber.$invalid">this field is required</span>
                

              </label>
              <label class="item">
                <button ng-click="addCandidate(candidateData)" ng-disabled="addForm.$invalid || addForm.$pending" class="button button-block button-positive" type="submit">Add Candidate</button>
              </label>
            </div>
          </form>

          <div ng-include="'shared/footer.html'"></div>

    </ion-content>
  </ion-view>