<ion-view view-title="Login">
  <ion-content class="container"scroll="false">
    <form name="loginForm" class="list " id="login-form1" style="direction:ltr">
      <ion-list class=" " id="login-list2">
        <img style='width:200px; height:100px'  src='/img/Candidate.jpg'>
<span class="input-label animated bounceInLeft" style="color: #fff;">National Number</span>
          <label class="item item-input item-floating-label animated bounceInRight" style="color:#fff">
             
              <input type="text" style="background: #fff;
color: #000;
margin: 5px;
box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
height: 45px;
font-size: 16px;" type="text" placeholder="National Number">
          </label>
   <span class="input-label animated bounceInLeft" style="color:#fff;" >Password</span>
          <label class="item item-input item-floating-label animated bounceInRight" style="color:#fff">
             
              <input type="password" style="background: #fff;
color: #000;
margin: 5px;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
height: 45px;
font-size: 16px;" type="password" placeholder="Password">
          </label>

      </ion-list>

<center>
  <button class="button button-block button-positive" type="submit">Login</button>
</label>
</center>

  </form>

  </ion-content>
</ion-view>
