<ion-view view-title="Login">
  <ion-content class="container"scroll="false">
    <form name="loginForm" class="list " id="login-form1" style="direction:ltr">
      <ion-list class=" " id="login-list2">
        <img style='width:200px; height:100px'  src='/img/Candidate.jpg'>
<span class="input-label animated bounceInLeft" style="color: #fff;">National Number</span>
          <label class="item item-input item-floating-label animated bounceInRight" style="color:#fff">
             
              <input type="text" ng-model="user.NationalNumber" required  style="background: #fff;
color: #000;
margin: 5px;
box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
height: 45px;
font-size: 16px;" name="NationalNumber" placeholder="National Number">

          </label>
          <p ng-show="loginForm.NationalNumber.$dirty &&  loginForm.NationalNumber.$error.required">* NationalNumber is required</p>
   <span class="input-label animated bounceInLeft" style="color:#fff;" >Password</span>
          <label class="item item-input item-floating-label animated bounceInRight" style="color:#fff">
             
              <input type="password" ng-model="password" ng-minlength="6" name="password" required style="background: #fff;
color: #000;
margin: 5px;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
height: 45px;
font-size: 16px;" type="password" placeholder="Password">
          </label> 
            
           <p ng-show="loginForm.password.$dirty && loginForm.password.$error.required">*password is required </p>
          <p ng-show="loginForm.password.$dirty && loginForm.password.$error.minlength">*Password must be longer than 6 characters </p>
        
        


      </ion-list>

<center>
  <button ng-click="loginEmail(loginForm,user)"class="button button-block button-positive" ng-disabled="loginForm.$invalid" type="submit">Login</button>
</label>
</center>

  </form>

  </ion-content>
</ion-view>
