<ion-view view-title="View Candidate">
        <ion-content scroll="false" class="container container-custom">
<h2>All Candidate</h2>

<table class="tablee" style="width:100%">
  <tr>
    <th> Candidate Name </th>
    <th >City</th>
    <th>Number Of Votes</th>
  </tr>
  <tr>
    <td><input Name</td>
    <td><input City=</td>
    <td><input Number Of Votes</td>
  </tr>
  <tr>
    <td><input Name</td>
    <td><input City=</td>
    <td><input Number Of Votes</td>
  </tr>
  <tr>
    <td><input Name</td>
    <td><input City=</td>
    <td><input Number Of Votes</td>
  </tr>
  <tr>
    <td><input Name</td>
    <td><input City=</td>
    <td><input Number Of Votes</td>
  </tr>
</table>

<div ng-include="'shared/footer.html'"></div>

</ion-content>
</ion-view>
