<ion-view view-title="View Candidate">
        <ion-content   class="container container-custom">
<h2>All Candidate</h2>

<table class="table table-striped" style="width:100%">
  <tr>
    <th> Candidate Name </th>
    <th >City</th>
    <th>Number Of Votes</th>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
  <tr>
    <td> Full Name</td>
    <td> City</td>
    <td> Number Of Votes</td>
  </tr>
</table>

<div ng-include="'shared/footer.html'"></div>

</ion-content>
</ion-view>
