/* Empty. Add your own CSS if you like */
.container-custom{
    margin-top:20px;
}
#addCandidate_title{
    padding-bottom: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;   
} 
.center-content{
    text-align: center;
    padding-bottom: 10px;
}
.form-error{
    padding-right:10px;
    color:red;
}
.left-content{
    text-align: left;
    padding-bottom: 10px;
}